# ============================================================
# Copia este archivo como .env y rellena los valores reales
# ============================================================

# Base de datos remota
WORDPRESS_DB_HOST=
WORDPRESS_DB_NAME=
WORDPRESS_DB_USER=
WORDPRESS_DB_PASSWORD=

# URL del sitio
# DEV:  https://sensation-foam-frostily.ngrok-free.dev
# PROD: https://amazoniamarket.online
WP_HOME=http://amazoniamarket.online
WP_SITEURL=http://amazoniamarket.online
